@model NewsAPI.Models.Author
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/_Layout.cshtml";
    var authorized = ViewData["tokentalt"];
}
<br /><br /><br /><br /><br />
@*@if (authorized != null)
{*@
<hr />
<div class="container" style=" display: flex;justify-content: center;">
    <h4>Create new author</h4>
 </div>

<div class="container" style=" display: flex;justify-content: center;">
   <br />
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>
  <div class="container" style=" display: flex;justify-content: center;"> 
    <a asp-action="Index">Back to List</a>
    </div>
@*}
else
{
<h1> You are not allowed to be here </h1>
}*@
