@model NewsAPI.Models.Author
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/_Layout.cshtml";
    var authorized = ViewData["tokentalt"];
}
<br /><br /><br /><br />
@*@if (authorized != null)
{
*@
<hr />
<div class="container" style=" display: flex;justify-content: center;">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="SecurityID" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@*}
else
{
    <h1> You are not allowed to be here </h1>
}
*@