@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    Layout = "~/Views/_Layout.cshtml";
    var d = ViewData["tokenbag"];
    TempData["tokentani"] = d;
}
<br /><br /><br /><br /><br />
@if (d!= null)
{
<h1 style="text-align:center">Welcome to Admin panel</h1>

<section class="w3l-passion-mid-sec">
    <div class="container">
        <div class="container">
            <div class="row w3l-passion-mid-grids">


                <div class="card " style="width: 25rem; margin-left:80px;margin-top:20px">
                    <img class="card-img-top" src="images/author.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Authors</h5>
                        <p class="card-text"> Here you can control all the authors on the website </p>
                        <a class="nav-link " class="btn btn-primary" asp-area="" asp-controller="AuthorsFront" asp-action="Index">Authors</a>
                    </div>
                </div>

                <div class="card" style="width: 25rem; margin-right:50px; margin-left:80px;margin-top:20px;">
                    <img class="card-img-top" src="images/news.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">News</h5>
                        <p class="card-text"> Here you can control all the News on the website </p>
                        <a class="nav-link " class="btn btn-primary" asp-area="" asp-controller="NewsFront" asp-action="Index">All News</a>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</section>
}else{
    <h1> You are not allowed to be here </h1>
}